* {
  transition: all ease-in-out 0.3s;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*Navbar*/

nav {
  background: rgba(255, 0, 0, 0);
  /* text-align: center; 
  filter: blur(4px); */
  z-index: 2300;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  transition: 500ms ease;
  width: 100vw;
}

.nav-item {
  padding: 0 18px;
  font-size: 14px !important;
  font-weight: 600;
}

.nav-link {
  /* color: #ffffff; */
  border-radius: 0 !important;
}

.active {
  background-color: transparent !important;
}

.nav-link img {
  height: 24px;
}

.scrolled {
  background: #fff;
}

.scrolled a {
  color: #291b1b !important;
}

.scrolled .line {
  background: #291b1b;
}

.logo {
  padding-right: 0 !important;
}

.brand-name {
  padding-left: 15px;
  font-size: 16px;
}

.brand-name a {
  padding-left: 0 !important;
}

.nav-container {
  position: sticky !important;
  top: 0;
}

/*Menu Bar*/

#hamburger {
  display: flex;
  width: 30px;
  height: 10px;
  margin: 25px 10px 20px 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
}

.line {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

#line1 {
  transform: translateY(-4px);
}

#line3 {
  transform: translateY(4px);
}

.change .line {
  background-color: #eaeaea;
  display: block;
}

.change #line1 {
  transform: translateY(4px) rotateZ(135deg);
}

.change #line3 {
  transform: translateY(-4px) rotate(45deg);
}

.change #line2 {
  opacity: 0;
}

/*Header*/
.v-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  max-width: 720px !important;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
  background: rgba(45, 0, 29, 0.35);
  opacity: 0.85;
}

.header-content {
  z-index: 2;
  /* margin-top: -80px;
  margin-left: 190px; */
}

.header-content h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.3;
  font-style: normal;
}

.header-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 10px;
  display: block;
}

.btn {
  background-color: #f74539;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  height: 48px;
  padding-top: 10px !important;
}

.arrow-symbol {
  /* position: absolute; */
  /* padding-top: 300px; */
  /* padding-left: 520px; */
}

.fa fa-angle-down {
  z-index: 20 !important;
}

#menu-bar,
.menu-bg {
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 60px;
  /* color: #fff; */
}
/* #row1{
  display:none;
  color:white;
  padding-left: 100px;
} */
#row1 {
  display: none;
  /* color: #fff; */
  padding-left: 100px;
}

/* #row2{
  display:none;
  color:white;
  padding-left: 100px;
} */
#row2 {
  display: none;
  /* color: #; */
  padding-left: 100px;
}

.change {
  display: block;
}

.change-row {
  display: flex !important;
}

.menu-bg {
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.479);
  /* background: -webkit-radial-gradient(circle, #110c11, #0d0e0e) !important ; */
  transition: 0.3s ease;
  z-index: 1;
  backdrop-filter: blur(10px);
}
#menu-bar {
  z-index: 10;
}
.change-bg {
  width: 100vw;
  height: 100vh;
}

.menu-heading {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 60px;
}
.para {
  margin-bottom: 20px;
  display: block;
  max-width: 700px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
.list-heading {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
  padding-top: 30px;
}
hr {
  width: 83.33%;
  height: 3px;
  /*border:1px solid #eaeaea;*/
  padding-top: 2px;
}

.listitems {
  padding-left: 0;
}

.listitems li {
  list-style: none;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-top: 2px;
}

.hvr-underline-from-left,
.hvr-underline-from-left:hover,
.hvr-icon-forward,
.hvr-icon-forward:hover {
  /* color: black; */
}

.readmore {
  padding-top: 15px;
  margin-bottom: 10px;
}

/*Event*/

.card-container {
  margin: 0 20px;
}

.card {
  position: relative;
  width: 320px;
  height: 400px;
  transition: 0.3s ease-out;
  border-radius: 10px !important;
  margin: auto;
  text-align: left;
  border: none !important;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.137);
}
/* 
.card:not(nth-child(1)) {
  margin-left: 25px;
} */

.img-holder {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  display: block;
  transition: 0.5s;
  border-radius: 10px 10px 0px 0px !important;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding: 0.9375rem 1.875rem;
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  border-radius: 0px 0px 10px 10px !important;
}

.card:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .content {
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
}

.content p {
  margin: 0 0 10px;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  opacity: 0;
  display: block;
}
.card:hover .content p {
  transform: translateY(0);
  opacity: 1;
}

.section-holder {
  /* min-height: 100vh; */
  padding: 70px 30px;
}

.cards {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.cards::-webkit-scrollbar {
  width: 0;
}

#events i,
.menu-bar i {
  font-weight: 900 !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 768px) {
  .cards {
    display: block;
  }
}

#events a,
#menu-bar a {
  color: #291b1b;
}

#events i,
#menu-bar i {
  color: #fe836c;
}

/*Events Gallery*/
.synch-carousels {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.synch-carousels > * {
  width: 100%;
}

.synch-carousels .right {
  order: -1;
}

.synch-carousels .left {
  overflow: hidden;
}

.synch-carousels .gallery {
  display: none;
}

.synch-carousels .gallery .slick-list {
  height: auto !important;
  margin: 0 -20px;
}

.synch-carousels .gallery .slick-slide {
  margin: 0 20px;
}

@media screen and (min-width: 480px) {
  .synch-carousels .right {
    margin-bottom: 20px;
  }

  .synch-carousels .gallery {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .synch-carousels .right {
    position: relative;
    width: calc(100% - 230px);
    margin-bottom: 0;
    order: 2;
  }

  .synch-carousels .left {
    width: 210px;
  }

  .synch-carousels .gallery .slick-slide {
    margin: 0 0 20px 0;
  }

  .synch-carousels .gallery .slick-list {
    margin: 0;
  }
}

.contact {
  width: 100vw;
  height: 100vh;
}
/*Map*/

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* Map Marker */

g[fill="#3FB1CE"] {
  fill: #f74539;
}

/*Contact Form*/
.form-wrap {
  padding-right: 70px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  width: 100%;
  margin-top: 20px !important;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
}

.radioStudent,
.radioBusiness {
  margin-top: 20px;
  text-align: left;
}

.location {
  text-align: justify;
  padding-left: 15px;
}

/*Idea Submmission Form*/

#idea_submission,
#studentInfo {
  display: none;
}

.idea_form {
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
}

/* Get Started */

.circle {
  height: 75px;
  width: 75px;
  box-shadow: 0 9px 30px -6px #f746393a;
  border-radius: 50%;
  display: inline-block;
}

#features i,
#features ion-icon,
#features .iconify {
  margin: auto;
  height: 100%;
  width: 50%;
  font-size: 3em;
  color: #f74539;
}

.feature:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 9px 30px -6px #f746396c;
}

.feature:hover h3 {
  color: #f74539;
}

.feature {
  margin: auto;
  padding: 50px 0;
}
