.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-gap: 1rem; */
}

.grid-container {
  display: grid;
  width: 100px;
  height: 100px;
}

.grid > div > img {
  width: 100px;
  height: 100px;
  opacity: 0.8;
  object-fit: contain;
  /* filter: grayscale(100%) */
}

main {
  /* background: #f3f7fa; */
  margin-top: -100px;
  margin: auto;
}

.partner-img {
  height: 200px;
  /* max-width: 200px; */
}

.partners-logos-container div a div:hover {
  transform: translateY(-15px);
}

.partners-logos-container {
  margin: auto !important;
}
.partners-logos-container div {
  padding: 24px;
}
.partners-logos-container div div {
  height: 200px;
  width: 200px;
  background: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}
