* {
  transition: all ease-in-out 0.3s;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */

html {
  scrollbar-width: 2px !important;
}
html::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-track {
  background: #ececec;
}
html::-webkit-scrollbar-thumb {
  background-color: #f74539;
}
/* *::-webkit-scrollbar-thumb:hover {
  background-color: #f74539;
} */

/*Navbar*/

nav {
  background: rgba(255, 0, 0, 0);
  /* text-align: center; 
  filter: blur(4px); */
  z-index: 2300;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  transition: 500ms ease;
  width: 100vw;
  min-height: 50px;
}

nav a {
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 16px !important;
  font-weight: 500;
  line-height: 26px !important;
  font-family: "Work Sans", sans-serif;
}

.nav-item {
  padding: 0 18px;
  font-size: 14px !important;
  font-weight: 600;
}

.nav-link:hover,
.active,
.navbar-brand {
  opacity: 100% !important;
}

.nav-link {
  /* color: #ffffff; */
  border-radius: 0 !important;
}

.active {
  background-color: transparent !important;
}

.nav-link img {
  height: 24px;
}

.scrolled {
  background: #fff;
  border-bottom: 1px solid #ebedee;
}

.scrolled .nav-link {
  color: #291b1bd5 !important;
  opacity: 50%;
}

.scrolled .line {
  background: #291b1b;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

.navbar-toggler-icon {
  height: 25px;
}

.scrolled .navbar-toggler {
  border: none;
  outline: none;
}
.logo {
  padding-left: 50px !important;
}

.logo img {
  padding-right: 10px;
}
.brand-name {
  padding-left: 15px;
  font-size: 16px;
}

.brand-name a {
  padding-left: 0 !important;
}

.nav-container {
  position: sticky !important;
  top: 0;
}

/*Menu Bar*/

#hamburger {
  display: flex;
  width: 30px;
  height: 10px;
  margin: 25px 10px 20px 20px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-evenly;
}

.line {
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

#line1 {
  transform: translateY(-4px);
}

#line3 {
  transform: translateY(4px);
}

.change .line {
  background-color: #eaeaea;
  display: block;
}

.change #line1 {
  transform: translateY(4px) rotateZ(135deg);
}

.change #line3 {
  transform: translateY(-4px) rotate(45deg);
}

.change #line2 {
  opacity: 0;
}

/*Header*/
.v-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  max-width: 720px !important;
}

.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.header-overlay {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 1;
  background: rgba(45, 0, 29, 0.35);
  opacity: 0.85;
}

.header-content {
  z-index: 2;
  /* margin-top: -80px;
  margin-left: 190px; */
}

.header-content h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 1.3;
  font-style: normal;
}

.header-content p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 10px;
  display: block;
}

.btn {
  background-color: #f74539 !important;
  border: none;
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  /* height: 48px; */
  margin: 20px;
  padding: 10px 25px !important;
}

nav .nav-btn {
  background-color: #f74539;
  border: none;
  color: #fff !important;
  margin: 5px 10px;
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 0;
}

.arrow-symbol {
  /* position: absolute; */
  /* padding-top: 300px; */
  /* padding-left: 520px; */
}

.fa fa-angle-down {
  z-index: 20 !important;
}

#menu-bar,
.menu-bg {
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 60px;
  /* color: #fff; */
}
/* #row1{
  display:none;
  color:white;
  padding-left: 100px;
} */
#row1 {
  display: none;
  /* color: #fff; */
  padding-left: 100px;
}

/* #row2{
  display:none;
  color:white;
  padding-left: 100px;
} */
#row2 {
  display: none;
  /* color: #; */
  padding-left: 100px;
}

.change {
  display: block;
}

.change-row {
  display: flex !important;
}

.menu-bg {
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.479);
  /* background: -webkit-radial-gradient(circle, #110c11, #0d0e0e) !important ; */
  transition: 0.3s ease;
  z-index: 1;
  backdrop-filter: blur(10px);
}
#menu-bar {
  z-index: 10;
}
.change-bg {
  width: 100vw;
  height: 100vh;
}

.menu-heading {
  margin-bottom: 25px;
  font-size: 50px;
  line-height: 60px;
}
.para {
  margin-bottom: 20px;
  display: block;
  max-width: 700px;
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
}
.list-heading {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
  padding-top: 30px;
}
hr {
  width: 83.33%;
  height: 3px;
  /*border:1px solid #eaeaea;*/
  padding-top: 2px;
}

.listitems {
  padding-left: 0;
}

.listitems li {
  list-style: none;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
  padding-top: 2px;
}

/* .hvr-underline-from-left,
.hvr-underline-from-left:hover,
.hvr-icon-forward,
.hvr-icon-forward:hover {
  color: black;
} */

.readmore {
  padding-top: 15px;
  margin-bottom: 10px;
}

/*Event*/

.card-container {
  margin: 0 20px;
  display: none;
}

.card {
  background: #fff;
  margin: auto !important;
  position: relative;
  width: 320px;
  height: 400px;
  transition: 0.3s ease-out;
  border-radius: 10px !important;
  margin: auto;
  text-align: left;
  border: none !important;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.137);
}
/* 
.card:not(nth-child(1)) {
  margin-left: 25px;
} */

.img-holder {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.event {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  display: block;
  transition: 0.5s;
  border-radius: 10px 10px 0px 0px !important;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 17%;
  padding: 0.9375rem 1.875rem;
  overflow: hidden;
  box-sizing: border-box;
  background: white;
  transition: all 0.5s cubic-bezier(0.48, -0.28, 0.41, 1.4);
  border-radius: 0px 0px 10px 10px !important;
}

.card:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .content {
  width: 100%;
  height: 50%;
  left: 0;
  bottom: 0;
}

.content p {
  margin: 0 0 10px;
  transform: translateY(2em);
  line-height: 1.3em;
  transition: 0.3s;
  opacity: 0;
  display: block;
}
.card:hover .content p {
  transform: translateY(0);
  opacity: 1;
}

.section-holder {
  /* min-height: 100vh; */
  padding: 0 30px;
  padding-top: 60px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  overflow-x: auto;
  padding: 20px;
}

.cards::-webkit-scrollbar {
  width: 0;
}

#events i,
.menu-bar i,
.intro i {
  font-weight: 900 !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 768px) {
  .cards {
    display: block;
    overflow-x: hidden;
  }
  .card {
    margin-top: 50px !important;
    margin: 0;
  }
  .row .map {
    width: 100% !important;
    height: 200px !important;
  }

  .img-contain {
    width: 100% !important;
    height: 300px !important;
  }

  .heading_features {
    padding-top: 20px;
  }

  #column_startup {
    margin: 40px 20px 0 !important;
  }
}

@media only screen and (max-width: 420px) {
  .card {
    width: 220px !important;
  }
  .card:hover .content {
    height: 280px;
  }
}

#events a,
#menu-bar a,
.intro a,
#column_startup a {
  color: #291b1b;
}

#events i,
#menu-bar i,
.intro i,
#column_startup i {
  color: #f74539 !important;
}

.contact {
  width: 100vw;
  min-height: 100vh;
}
/*Map*/

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  /* top: 10px;
  bottom: 10px;
  width: calc(100% - 20px);
  right: 10px;
  left: 10px;
  border-radius: 10px; */
}

canvas:focus {
  outline: none;
}

.map a {
  display: none;
}
/* Map Marker */

g[fill="#3FB1CE"] {
  fill: #f74539;
}

/*Contact Form*/
.form-wrap {
  padding-right: 70px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  /* height: 40px; */
  /* box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04); */
  width: 100%;
  /* margin-top: 20px !important; */
  background: transparent;
  border: none;
  border-bottom: 2px solid #d2d2d2;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  /* border: none; */
  outline: none;
  /* border-bottom: 1px solid #fff; */
}

.contactform #email,
#message,
#name {
  color: #000000;
}
.radioStudent,
.radioBusiness {
  margin-top: 20px;
  text-align: left;
}

#contactus {
  min-height: 100vh;
}

.contact-details {
  margin: auto;
}

.location {
  text-align: justify;
  margin: 30px;
}

.location .row {
  margin-left: 0;
  margin-bottom: 15px;
}

.location ion-icon {
  font-size: 30px;
  color: #f74539;
}

.location p {
  font-size: 18px;
  margin: auto 0;
}

select {
  color: #fff;
}

/*Idea Submmission Form*/

#idea_submission,
#studentInfo {
  display: none;
}

.idea_form {
  width: 100vw;
  min-height: 105vh !important;
  padding-top: 100px;
}

.idea_form input[type="text"],
.idea_form input[type="email"],
.idea_form input[type="tel"],
.idea_form textarea {
  color: #fff !important;
}

.idea_form option {
  color: #000000;
}

.radioButton {
  display: flex;
}
.radioButton input[type="radio"] {
  margin-top: 5px;
}
.radio-wrapper:first-child {
  padding-right: 10px;
}
/* Get Started */

.circle {
  height: 75px;
  width: 75px;
  /* box-shadow: 0 9px 30px -6px #f745393a; */
  border-radius: 50%;
  display: inline-block;
  margin: 1.5em;
}

#features {
  background: #fff;
}

#features i:not(.zmdi),
#features ion-icon,
#features .iconify {
  margin: auto;
  height: 100%;
  width: 50%;
  font-size: 3em;
}

.feature {
  margin: auto;
  padding: 10px 0;
}

.feature h4 {
  color: #2c2c2c;
  padding: 0 15px;
  font-weight: 300 !important;
}

.feature p {
  padding: 0 30px;
}

.green i,
.green ion-icon,
.green .iconify,
.green:hover h4 {
  color: #18ce0f;
}

.green .circle {
  box-shadow: 0 9px 30px -6px rgba(24, 206, 15, 0.3);
}

.green:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px 0 rgba(24, 206, 15, 0.35);
}

.blue i,
.blue ion-icon,
.blue .iconify,
.blue:hover h4 {
  color: #2ca8ff;
}

.blue .circle {
  box-shadow: 0 9px 30px -6px rgba(44, 168, 255, 0.3);
}

.blue:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px 0 rgba(44, 168, 255, 0.35);
}

.yellow i,
.yellow ion-icon,
.yellow .iconify,
.yellow:hover h4 {
  color: #ffb236;
}

.yellow .circle {
  box-shadow: 0 9px 30px -6px #ffb2369f;
}

.yellow:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px 0 #ffb236a6;
}

.purple i,
.purple ion-icon,
.purple .iconify,
.purple:hover h4 {
  color: #ab2bc2;
}

.purple .circle {
  box-shadow: 0 9px 30px -6px #c860da77;
}

.purple:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px 0 #c760da85;
}
.red i,
.red ion-icon,
.red .iconify,
.red:hover h4 {
  color: #f96332;
}

.red .circle {
  box-shadow: 0 9px 30px -6px rgba(249, 99, 50, 0.3);
}

.red:hover .circle {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px 0 rgba(249, 99, 50, 0.35);
}

.cta {
  padding: 0;
}

.main {
  margin: auto;
}

.wrapper {
  color: #fff;
  background: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80")
    #000000;
  background-repeat: no-repeat;
  background-size: 100vw;
  margin: 70px 0 20px 0;
  width: 100vw;
  padding-bottom: 60px;
}

.btn:focus,
.nav-btn:focus {
  outline: none !important;
}

/*About Us*/
.aboutus,
.info-horizontal {
  max-width: none;
  margin: 0 auto;
  padding: 30px 0 0;
  text-align: left !important;
}

.about_icon,
.icon {
  width: 45px !important;
  height: 45px !important;
  max-width: 65px;
  margin-top: 20px;
  border-radius: 50%;
  background-color: #fff;
  color: #f96332;
  position: relative;
  box-shadow: 0 9px 30px -6px rgba(249, 99, 50, 0.3);
  float: left;
}

.description {
  overflow: hidden;
}

.description .title {
  margin: 28px 0 15px;
  padding: 0 15px;
}

.feature_name p,
.description p {
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title {
  padding-top: 30px;
  margin-bottom: 30px;
}
.about_icon ion-icon,
.icon ion-icon {
  margin-left: 12px;
  height: 100%;
  width: 50%;
  font-size: 3em;
}

.img-container {
  /* margin-top: 150px; */
}
.mission_vision {
  max-width: 100%;
  border-radius: 1px;
}

@media screen and (width: 768px) {
  #map {
    width: 100% !important;
    height: 800px !important;
  }
}

@media screen and (min-width: 768px) {
  #contactus h1 {
    padding-top: 70px;
  }
}

@media screen and (max-width: 1200px) {
  .nav-link {
    display: inline-flex !important;
  }

  .show {
    /* position: absolute; */
    top: 60px;
    width: 100vw;
  }

  nav {
    width: 100vw;
  }

  .navbar-collapse {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 2em !important;
  }
  .header-content p {
    font-size: 14px;
  }

  .logo {
    /* margin: auto !important; */
  }

  canvas {
    width: 100vw;
  }
}

.extend-vid {
  height: calc(100vh + 300px) !important;
  z-index: -1;
}

.hide-arrow {
  display: none;
}

/*Feature*/
.heading_features {
  text-align: left !important;
  padding-left: 10px;
}
.feature_name p {
  padding-top: 5px;
}
.about_icon {
  margin-top: -7px;
  margin-right: 15px !important;
}

.img-contain {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position-x: center;
  background-position-y: center;
}

/*Counter*/

.counter-heading {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.counter-heading:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffe665;
  height: 4px;
  width: 50%;
  margin: auto;
}

.numbers-container {
  /* display: flex; */
  justify-content: space-between;
}

.counter i {
  font-size: 30px !important;
  color: #f74539 !important;
}

.container.counter {
  margin-top: 50px;
}

#allicon {
  color: #f7453986;
  font-size: 20px;
  padding: 20px 0;
}

#allicon:hover {
  color: #f74539;
}

.container.iconcont {
  align-content: "center";
}

/*Team*/
.team_member {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  background-color: #fff;
  /* box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3); */
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover !important;
}

/* .newstyle {
  font-family: "Roboto Slab" !important;
  font-weight: 700 !important;
} */

#team {
  margin-top: 70px !important;
}
/* Counter */

.container .newfooter {
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footicon {
  padding-left: 64px;
  font-size: 70px;
}
#logofooter {
  height: 80px;
  width: 80px;
}
#logocomp {
  padding-left: 40px;
}
#takeup {
  z-index: 23;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: end;
  height: 50px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: block;
  display: none;
  /* transition: all 0.5 ease-in-out; */
  /* background-color: #857371; */
  /* color: #f74539; */
}

#takeup ion-icon {
  background: #f74539;
  border-radius: 50%;
  padding: 0;
  color: #fff;
  padding: 10px;
  font-size: 23px;
}

#takeup:hover {
  bottom: 30px;
}

.toast {
  margin-top: 60px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 25;
}

.toast-header,
.toast-body {
  color: black !important;
  background-color: white;
}

/*Startups*/
#card_display {
  justify-content: space-around;
}
#column_startup {
  border: none !important;
  /* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.137); */
  text-align: left;
  padding-bottom: 20px;
}
#column_startup .container {
  border-radius: 10px !important;
  border: 2px solid rgba(143, 143, 143, 0.178);
  padding: 30px;
}
.startup_holder {
  max-height: 100px;
  display: block;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#column_startup p {
  padding-top: 10px;
}
.desc_startup {
  padding: 30px 20px 0px 0px;
}

.show_events {
  display: block;
}

.live {
  background-color: #fff !important;
  color: #f74539 !important;
}

.partners-header-image {
  position: relative;
  width: 100vw;
  bottom: 9em;
  min-width: 1080px;
  left: 50%;
  transform: translateX(-50%);
}

.partners {
  max-width: 700px !important;
}

@media only screen and (max-width: 1024px) {
  .partners-header-image {
    display: none;
  }
  .partner-bg-mobile {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0.685),
        rgba(255, 255, 255, 0.822)
      ),
      url("../images/partners-header-mobile.png");
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    height: calc(100vh - 60px);
    width: 100vw;
    z-index: -1;
  }

  .hero-partners-wrapper {
    height: 100vh;
    padding-top: 100px;
  }

  main {
    margin-top: 0;
  }

  .partners p {
    color: #291b1b;
  }
}

#aboutus {
  /* background: #fff; */
}

#aboutus .img-container {
  height: 30vh;
  background: url("https://images.unsplash.com/photo-1516062423079-7ca13cdc7f5a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1061&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position-x: right;
}

#aboutus .img-container::before {
  position: absolute;
  top: 10%;
  left: -10%;
  width: 100%;
  height: 100%;
  /* border: 4px solid #77b244; */
  content: "";
  background: url("../images/bg-pattern.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

main .hvr-icon-forward:hover {
  color: #291b1b;
}

.intro {
  margin-bottom: 25px;
}
.intro-sec {
  margin-bottom: 40px;
}

#myBtnContainer .my-btn {
  background: transparent;
  color: #291b1b;
  font-weight: 600;
  margin: 0 50px;
  margin-bottom: 10px;
}
#myBtnContainer .my-btn:hover {
  /* color: #f74539 !important; */
  border-bottom: #f74539 3px solid;
}

#myBtnContainer {
  display: flex;
  justify-content: center;
}

.btn-wrapper {
  /* border-bottom: #888 3px solid; */
  /* display: inline-block; */
  cursor: pointer;
  margin-left: 40px;
}

.btn-active {
  color: #f74539 !important;
  border-bottom: #f74539 3px solid;
}

@media only screen and (max-width: 768px) {
  #aboutus .img-container::before {
    display: none;
  }
  #partner {
    /* background-size: auto; */
    background: linear-gradient(
        rgba(255, 255, 255, 0.788),
        rgba(255, 255, 255, 0.788)
      ),
      url("../images/partners-header-mobile.png") !important;
    background-size: cover !important;
  }
}

#partners-section {
  background: #f8f9fa;
}

#partner {
  /* background: #f74539; */
  /* color: #fff; */
  background: linear-gradient(
      rgba(255, 255, 255, 0.788),
      rgba(255, 255, 255, 0.788)
    ),
    url("../images/partners-header.png");
  background-size: cover;
  background-position: center;
}

.footer-social {
  font-size: 25px !important;
}

.footer-logo {
  max-width: 50vw;
  width: 300px;
  text-align: center;
}

#footer {
  background: #181818;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  padding: 50px 30px 0 30px;
}

.all-rights {
  border-top: rgba(255, 255, 255, 0.068) 1px solid;
  padding: 20px 0;
  text-align: center !important;
  font-size: 14px;
}

.idea-input:focus {
  border-bottom: 2px solid #f74539;
}

#footer > .container {
  text-align: left !important;
}

#footer li,
#footer p {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.493);
  margin: 5px 0;
}

#footer li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 400;
}

#footer li a:hover,
.footer-idea-link:hover {
  color: #fff;
}

#footer ul {
  padding: 0;
}

#footer .col-heading {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-links {
  margin: 50px 0;
}

.footer-icons-social {
  display: flex;
  justify-content: space-between;
}

.footer-idea-link {
  background: none;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 400;
  /* text-align: left; */
  padding: 0;
}

.footer-idea-link:focus {
  outline: none;
}
/* 
.swal-overlay {
  background-color: #f7463979;
} */
