<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Successfully Registered</title>
</head>

<body>
    <p style="font-size: larger;">Your team id is : <%=teamId%> <button id="text" class="btn"
                onclick="copyText('<%=teamId%>')">
                <i class="fa fa-solid fa-clipboard"></i>
            </button></p>
    <script>
        function copyText(Text) {
            var text = Text
            navigator.clipboard.writeText(text)
            // alert(text)
        }
    </script>
</body>

</html>